body {
  color: #ffffff;
  background-color: rgb(35, 38, 56);
  font-family: monospace;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 min-height: 100vh;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid #4b5dff;
}
